{% extends 'base.html.twig' %}
{% block meta_title %}Modifier un utilisateur : {{ app.request.get("user").username }}{% endblock %}
{% block header_title %}
	<a href="{{ path('user_list') }}" class="btn btn-purple mb-4">
		<i class="fas fa-left-long me-2"></i>Retour à la liste des utilisateurs
	</a>
	<h1>
		Modifier
		{% if app.user.id != app.request.get("user").id %}
			un utilisateur : 
			<strong>{{ app.request.get("user").username }}</strong>
		{% else %}
			votre mot de passe
		{% endif %}
	</h1>
{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
	{% if app.user.id != app.request.get("user").id %}
		{{ form_start(editUserForm) }}
		{% if form_errors(editUserForm) %}
			<div class="alert alert-danger">
				{{ form_errors(editUserForm) }}
			</div>
		{% endif %}
		<div class="row">
			<div class="col-sm-6 mt-md-0 mt-3">
				{{ form_label(editUserForm.username, "Nom d'utilisateur") }}
				{{ form_widget(editUserForm.username, {'attr': {'class': 'form-control', 'placeholder': "Saisissez votre nom d'utilisateur"}}) }}
			</div>
			<div class="col-sm-6 mt-md-0 mt-3">
				{{ form_label(editUserForm.email, "Email") }}
				{{ form_widget(editUserForm.email, {'attr': {'class': 'form-control', 'placeholder': "Saisissez votre adresse email"}}) }}
			</div>
			<div class="col-sm-6 mt-3">
				{{ form_label(editUserForm.roles, "Rôle") }}
				{{ form_widget(editUserForm.roles, {'attr': {'class': 'form-select text-light'}}) }}
			</div>
		</div>
		<button type="submit" id="submit-btn" class="btn btn-purple mt-4">
			<i class="fas fa-check me-2"></i>Valider</button>
		{{ form_end(editUserForm) }}
		<hr>
	{% endif %}
	{{ form_start(editUserPasswordForm) }}
	{% if form_errors(editUserPasswordForm) %}
		<div class="alert alert-danger">
			{{ form_errors(editUserPasswordForm) }}
		</div>
	{% endif %}
	<div class="row">
		<div class="col-sm-6 mt-md-0 mt-3">
			{{ form_label(editUserPasswordForm.password.first, "Mot de passe") }}
			{{ form_widget(editUserPasswordForm.password.first, {'attr': {'class': 'form-control', 'placeholder': "Saisissez votre nouveau mot de passe"}}) }}
		</div>
		<div class="col-sm-6 mt-md-0 mt-3">
			{{ form_label(editUserPasswordForm.password.second, "Confirmation du mot de passe") }}
			{{ form_widget(editUserPasswordForm.password.second, {'attr': {'class': 'form-control', 'placeholder': "Confirmez votre nouveau mot de passe"}}) }}
		</div>
	</div>
	<button type="submit" id="submit-btn-2" class="btn btn-purple mt-4">
		<i class="fas fa-check me-2"></i>Valider</button>
	{{ form_end(editUserPasswordForm) }}
{% endblock %}
